

<div class="modal-dialog">
  <div class="modal-content">
<div class="container ">
 <div class="row center-block">
   <div class="col-md-12 col-md-offset-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title center-block">
                        <span class="fa fa-lock"></span>
                        Reset password   
                    </h3>
                </div>
                <div class="panel-body">
                    <form [formGroup]="userForm"   (ngSubmit)="resetPassword()"> 
                        

                    <div class="row">
                        <div  style="margin-top:60px;"  class="col-xs-6 col-sm-6 col-lg-4 separator social-login-box"> <br>
                           <img alt="" class="img-thumbnail" src="https://bootdey.com/img/Content/avatar/avatar1.png">                        
                        </div>
                        <div style="margin-top:80px;" class="col-xs-6 col-sm-6 col-lg-8 login-box">
                         <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-addon"><span class="fa fa-lock"></span></div>
                              <input class="form-control" type="password" formControlName="password" required placeholder="New Password">
                            </div>
                            <div *ngIf="formErrors.password" style="color:red">
                                {{ formErrors.password }}. Please correct the error and try again. 
                              </div>
                          </div>
                          <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-addon"><span class="fa fa-lock"></span></div>
                              <input class="form-control" type="password" formControlName="confirmPassword" required  placeholder="Re-Enter New Password">
                            </div>
                            <div *ngIf="formErrors.confirmPassword" style="color:red">
                                {{ formErrors.password }}. Please correct the error and try again. 
                              </div>
                          </div>

                          <button class="btn icon-btn-save btn-success" type="submit">
                              <span class="btn btn-default"><i class="fa fa-save"></i></span>save</button>
                        </div>
                        <div style="margin-top:80px;" ></div>
                    </div>

                    </form>
                </div>
                <div  style="margin-top:60px;" ></div>
                <div *ngIf="formErrors.error" style="color:red">
                    {{ formErrors.error }}. Please correct the error and try again. 
                  </div>

        </div>
    </div>
</div>
</div>